<p style="font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif; box-sizing: border-box; font-size: 14px;">
  Here is your daily code review summary:
</p>

<%- @pending_reviews.each do |review_name, reviews| %>
  <p style="font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif; box-sizing: border-box; font-size: 14px;">
    <%= review_name %>
  </p>
  <ul>
    <%- reviews.each do |review| %>
      <li style="font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif; box-sizing: border-box; font-size: 14px;">
        <strong>
          <%= link_to pull_request_url(review.pull_request) do %>
            <%= review.pull_request.repository %>#<%= review.pull_request.number %>
          <% end %>
        </strong>
      </li>
    <% end %>
  </ul>
<% end %>

<%= render partial: "shared_mailers/footer" %>
